@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(rgb(46, 158, 192), rgb(53, 182, 70));
       display: block;
     flex-direction: column; 
    justify-content: center; 
    align-items: center;
     min-height: 100vh;
    margin: 0;
}

.container {
    background-color:#fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(249, 250, 249, 0.3);
    width: 400px;
}

.form {
    padding: 20px 20px;
    
}

.form h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(83, 216, 83, 0.966);

}

.form-field {
    margin-bottom: 5px;

}

.form-field label {
    display: block;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.form-field input {
    border: solid 1px #86bd97;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}

#btn {
    color: rgb(4, 5, 12);
    background-color:rgb(46, 187, 206) ;
}

#btn:hover {
    background: rgba(83, 216, 83, 0.966);
    cursor: pointer;
}





form .indicator{
    height: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
  }
  form .indicator span{
    position: relative;
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
  }
  form .indicator span:nth-child(2){
    margin: 0 3px;
  }
  form .indicator span.active:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .indicator span.weak:before{
    background-color: #ff4757;
  }
  .indicator span.medium:before{
    background-color: orange;
  }
  .indicator span.strong:before{
    background-color: #23ad5c;
  }
  form .text{
    font-size: 20px;
    font-weight: 500;
    display: none;
    margin-bottom: -10px;
  }
  form .text.weak{
    color: #ff4757;
  }
  form .text.medium{
    color: orange;
  }
  form .text.strong{
    color: #23ad5c;
  }